# Contents
#### 1. Importing libraries
#### 2. Importing data
#### 3. Consistency checks
#### 4. Merging data sets
#### 5. Exporting data

# 1. Importing libraries

In [13]:
import pandas as pd
import numpy as np
import os

# 2. Importing data

In [15]:
path = r'/Users/zoegyftopoulos/Documents/Data Projects/07-2024 Instacart Basket Analysis'

In [16]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'orders_products_prior.csv'))

In [17]:
df_ords_2 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'orders_checked.csv'))

In [18]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [19]:
df_ords = df_ords_2.drop(columns=['Unnamed: 0.1','Unnamed: 0'])

In [20]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [21]:
df_ords_prior.shape

(32434489, 4)

In [22]:
df_ords.shape

(3421083, 7)

# 3. Consistency checks

### Check for mixed-type data

In [34]:
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

### Check for missing values

In [37]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

### Check for duplicates

In [40]:
df_dups = df_ords_prior[df_ords_prior.duplicated()]

In [41]:
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

# 4. Merging data sets

In [20]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# 5. Exporting data

In [23]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_combined.pkl'))

In [24]:
df_merged_large.shape

(32434489, 11)