# Importing libraries

In [1]:
import pandas as pd
import numpy as np
import os

# Importing data

In [3]:
path = r'/Users/zoegyftopoulos/Documents/Data Projects/07-2024 Instacart Basket Analysis'

In [4]:
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'ords_prods_merge.pkl'))

In [5]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [7]:
# Create a subset
df = df_ords_prods_merge[:1000000]

# Deriving new variables

### Define a function to sort products into price ranges

In [8]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [9]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/pq/70k0jkkj1nb0h6hnws7mj8540000gn/T/ipykernel_21449/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [12]:
df.value_counts()

order_id  user_id  eval_set  order_number  orders_day_of_week  order_time  days_since_prior_order  product_id  add_to_cart_order  reordered  product_name                             aisle_id  department_id  prices  _merge  price_range
5         156122   prior     42            6                   16          9.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
2281487   108843   prior     5             1                   13          13.0                    47766       28                 1          Organic Avocado                          24        4              6.3     both    Mid-range product    1
2281494   123967   prior     53            0                   14          6.0                     13176       3                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
2281495   147802   prior     43            1                   11          6.0                     13176       3                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
2281506   127495   prior     13            4                   14          9.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
                                                                                                                                                                                                                                                   ..
1140453   107204   prior     7             3                   10          30.0                    14084       1                  1          Organic Unsweetened Vanilla Almond Milk  91        16             12.5    both    Mid-range product    1
1140466   151392   prior     9             3                   16          3.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
1140472   166141   prior     14            6                   23          6.0                     13176       2                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
1140473   115675   prior     3             4                   18          7.0                     13176       19                 1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
3421068   7370     prior     2             4                   16          15.0                    13176       2                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product    1
Name: count, Length: 939915, dtype: int64

In [13]:
df['prices'].max()

14.8

### Use loc() & if-statements to sort products into price ranges

In [14]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/pq/70k0jkkj1nb0h6hnws7mj8540000gn/T/ipykernel_21449/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
df.value_counts()

order_id  user_id  eval_set  order_number  orders_day_of_week  order_time  days_since_prior_order  product_id  add_to_cart_order  reordered  product_name                             aisle_id  department_id  prices  _merge  price_range        price_range_loc
5         156122   prior     42            6                   16          9.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
2281487   108843   prior     5             1                   13          13.0                    47766       28                 1          Organic Avocado                          24        4              6.3     both    Mid-range product  Mid-range product    1
2281494   123967   prior     53            0                   14          6.0                     13176       3                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
2281495   147802   prior     43            1                   11          6.0                     13176       3                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
2281506   127495   prior     13            4                   14          9.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
                                                                                                                                                                                                                                                                      ..
1140453   107204   prior     7             3                   10          30.0                    14084       1                  1          Organic Unsweetened Vanilla Almond Milk  91        16             12.5    both    Mid-range product  Mid-range product    1
1140466   151392   prior     9             3                   16          3.0                     13176       1                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
1140472   166141   prior     14            6                   23          6.0                     13176       2                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
1140473   115675   prior     3             4                   18          7.0                     13176       19                 1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
3421068   7370     prior     2             4                   16          15.0                    13176       2                  1          Bag of Organic Bananas                   24        4              10.3    both    Mid-range product  Mid-range product    1
Name: count, Length: 939915, dtype: int64

In [12]:
# Repeat loc() function for entire dataframe

In [19]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [22]:
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [23]:
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [24]:
df_ords_prods_merge.value_counts()

order_id  user_id  eval_set  order_number  orders_day_of_week  order_time  days_since_prior_order  product_id  add_to_cart_order  reordered  product_name                                                                         aisle_id  department_id  prices  _merge  price_range_loc
1540951   62295    prior     24            3                   12          3.0                     35306       5                  1          Gluten Free Organic Peanut Butter & Chocolate Cereal                                 121       14             6.8     both    Mid-range product    2
2396733   175704   prior     7             1                   12          6.0                     35306       5                  1          Gluten Free Organic Peanut Butter & Chocolate Cereal                                 121       14             6.8     both    Mid-range product    2
2066278   147696   prior     19            4                   10          7.0                     35306       3                  1          Gluten Free Organic Peanut Butter & Chocolate Cereal                                 121       14             6.8     both    Mid-range product    2
3066831   111816   prior     3             0                   14          7.0                     462         5                  0          Fiber 4g Gummy Dietary Supplement                                                    70        11             4.8     both    Low-range product    2
1624259   93419    prior     19            1                   15          7.0                     35306       2                  1          Gluten Free Organic Peanut Butter & Chocolate Cereal                                 121       14             6.8     both    Mid-range product    2
                                                                                                                                                                                                                                                                                               ..
1141650   116775   prior     6             1                   21          7.0                     47185       15                 1          Spreadable Butter with Canola Oil                                                    36        16             9.0     both    Mid-range product    1
                                                                                                   46829       40                 0          Women's Strawberry Tangerine Twist Shave Gel                                         55        11             2.4     both    Low-range product    1
                                                                                                   45180       43                 0          Arm & Hammer Kid's Spinbrush Marvel Heroes/The Amazing Spiderman Powered Toothbrush  20        11             1.3     both    Low-range product    1
                                                                                                   44948       16                 1          Organic Z  Mixed Berry Fruit Rope                                                    3         19             6.7     both    Mid-range product    1
3421083   25247    prior     24            2                   6           21.0                    45309       2                  0          Purple Carrot & blueberry Puffs                                                      92        18             11.4    both    Mid-range product    1
Name: count, Length: 30328763, dtype: int64

In [25]:
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

### Create a for loop to summarize how busy each day of the week is

In [26]:
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [27]:
print(result)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [28]:
df_ords_prods_merge['busiest_day'] = result

In [29]:
df_ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: count, dtype: int64

In [30]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy

#### Tasks

#### Create a new variable for two busiest and slowest days of the week

In [32]:
result_2 = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")  
  elif value == 3 or value == 4:
    result_2.append("Least busy")
  else:
    result_2.append("Regularly busy")

In [33]:
print(result_2)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [34]:
df_ords_prods_merge['busiest_days'] = result_2

In [35]:
df_ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy    12927461
Busiest days      11875462
Least busy         7631289
Name: count, dtype: int64

In [36]:
df_ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_time,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy

The sum of the busiest days categories (32.434.212) match the busiest day categories as well as the total row count of the dataframe.

#### Create a new variable for busiest hours of the day

In [37]:
df_ords_prods_merge['order_time'].value_counts(dropna = False)

order_time
10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: count, dtype: int64

In [38]:
result_3 = []

for value in df_ords_prods_merge["order_time"]:
  if value in [10,11,14,15,13,12,16,9]:
    result_3.append("Most orders")  
  elif value in [17,8,18,19,20,7,21,22]:
    result_3.append("Average orders")
  else:
    result_3.append("Fewest orders")

In [39]:
print(result_3)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [40]:
df_ords_prods_merge['busiest_period_of_day'] = result_3

In [41]:
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21137262
Average orders    10006752
Fewest orders      1290198
Name: count, dtype: int64

In [42]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged_new_v.pkl'))